services:
  api:
    container_name: api
    networks:
      - net_web
    image: ghcr.io/gregory-lebl/troc-ta-plante-api:dev
    ports:
      - 80:8000
    depends_on:
      - database
    #Commandes à lancer quand le conteneur est démarré, ici les migrations et les fausses données
    #command: "symfony console --no-interaction doctrine:migrations:migrate && symfony console --no-interaction doctrine:fixtures:load"

  database:
    container_name: database
    image: mysql:8.0
    networks:
      - net_web
    volumes:
      - ./docker/mysql/data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: troctaplante
      MYSQL_USER: dev
      MYSQL_PASSWORD: dev

networks:
  net_web:
    name: net_web
    driver: bridge
